/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
db/mariadb/*
db/phpmyadmin/sessions
db/phpmyadmin/users.passwd
db/traefik/traefik.toml
