#* * * * * root echo "Hello world" >> /var/log/cron.log 2>&1
#* * * * * root echo "Hello world 2" >> /proc/1/fd/1 2>/proc/1/fd/2
#* * * * * root cd /application && echo "Hello World" >> /proc/1/fd/1 2>/proc/1/fd/2
* * * * * root cd /application && php artisan schedule:run >> /proc/1/fd/1 2>/proc/1/fd/2
# Don't remove the empty line at the end of this file. It is required to run the cron job
